/*
* ===============================================================
*     LOGIN PAGE
* ===============================================================
*/
.customer-login {
    h2 {
        margin-bottom: 30px;
    }
    h4 {
        color: #eee;
    }
    p {
        font-size: 0.9rem;
        font-weight: 300;
        margin: 30px 0;
        line-height: 1.7rem;
    }
    hr {
        margin: 30px 0;
        border-color: #555;
    }
    input {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
